In [27]:
import pandas as pd
import ast

In [57]:
crypto = 'btc'
ohlc_path = '../data/'+crypto+'_price_usd_ohlc.csv'
v_path = '../data/'+crypto+'_transactions_size_sum.csv'
df = pd.read_csv(ohlc_path)
v = pd.read_csv(v_path)
df['o'] = df['o'].map(lambda x:ast.literal_eval(x))
df = df.join(pd.DataFrame(df.pop('o').values.tolist()))
df = df.join(v['v'])
df = df[['t', 'o', 'h', 'l', 'c', 'v']]
df.columns = ['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume']
df.to_csv('../data/'+crypto+'_ohlcv.csv', index=False)
df

,Timestamp,Open,High,Low,Close,Volume
0,2014-01-01,731.903412,753.981553,731.903412,753.405481,21346662
1,2014-01-02,751.161970,798.243643,742.840006,784.280604,28405765
2,2014-01-03,782.968261,816.864470,768.646562,807.915916,31500478
3,2014-01-04,807.816596,828.745985,792.146837,828.745985,26004448
4,2014-01-05,829.028305,933.119890,828.061491,904.760075,31874485
...,...,...,...,...,...,...
2552,2020-12-27,26437.037509,28288.840022,25974.002376,26388.149456,192926371
2553,2020-12-28,26272.294567,27357.487941,26220.911449,27098.952754,207395711
2554,2020-12-29,27084.807886,27324.988106,26017.620146,27324.988106,193987680
2555,2020-12-30,27362.436557,28928.991862,27362.436557,28827.007974,216061484
2556,2020-12-31,28840.953420,29244.750457,28201.991994,28988.642494,211975639